# Ignora i file di configurazione locali
.env
.DS_Store
Thumbs.db

# Ignora la cartella dei log
logs/
*.log

# Ignora file di compilazione
*.pyc
*.pyo
__pycache__/

# Ignora directory di ambienti virtuali Python
venv/

# Ignore dynaconf secret files
.secrets.*
