name: GitHub Actions
on:
  push:

jobs:
  test:
    name: GitHub Actions como herramienta CI
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install make
        run: sudo apt-get install make

      - name: Instalar UV
        run: make install-uv

      - name: Ejecutar test
        run: make test