name: Docker Hub Test Image

on:
  push:
    paths:
      - 'pyproject.toml'
      - 'Makefile'
      - 'Dockerfile'

jobs:
  construir-imagen:
    name: Build and push Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/money_controller:latest